<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Requerido para Retrofit (Semana 2) -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Se agregarán en Semana 4 junto con la solicitud de permisos en tiempo de ejecución:
         android.permission.CAMERA
         android.permission.ACCESS_FINE_LOCATION -->

    <application
        android:name=".RecetarioApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Recetario">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.Recetario">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
